<style type="text/css">
.header {
    background: #444;
    color: #FFF;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}
.item {
    height: 30px;
    line-height: 30px;
    cursor: default;
    moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}
.item:hover {
    background-color: #EEE;
}
.selected {
    background: red;
}
.selected:hover {
    background: #E00;
}
.item .delete:hover {
    background-color: #FFF;
}

.pagination-template {
    display: none;
}

</style>
<div style="display: none" class="item template">
    <span class="itemText">This is the invisible template</span>
    <a href="#" class="delete"><i class="icon-remove"></i></a>
</div>
<div class="header">List Header</div>

<!-- 
    OLD « Prev and Next » buttons
    <button class="btn prev">« Previous</button>
    <button class="btn next">Next »</button>
-->

<!-- Pagination template -->
<!-- ««« Here »»» will be prepended the buttons with pages numbers -->
<li class="@active@ pagination-template" data-page="@pageNr@">
    <a href="#page-@pageNr@">@pageNr@</a>
</li>

<div class="pagination">
    <ul>
        <li class="prev"><a href="#">«</a></li> 
    
        <!-- Here will be prepended the pagination buttons. -->
        <li class="prepend-before" style="display:none">Invisible item.</li>
        <li class="next" ><a href="#">»</a></li>
    </ul>
</div>

<div class="content"></div>

<div class="controls">
    <a href="#" class="btn create"><i class="icon-plus"></i></a>
    <a href="#" class="btn delete"><i class="icon-minus"></i></a>
</div>
